.popup {
  @include center;
}
.achtergrondkleur{
height: 100vh;
  background-image: linear-gradient(to right, rgba($color-primary-one, 0.75),
          rgba($color-primary-two, 0.75));

}
.loginHeader {
  text-transform: uppercase;
  margin-top: 10rem;
  color: $color-primary;
}
.create {
  color: $color-primary-black;
  margin-top: 3rem;
}
.login{
  color: $color-primary-black;

}
.firstone{
  padding-top: 10rem;
}
.text-login{
  margin-bottom: 5rem;
}
