//colors
$color-primary: rgb(255, 153, 0);
$color-primary-one: #eb8484bf;
$color-primary-two: #18498abf;
$color-primary-gray: #777;
$color-primary-white: #fff;
$color-primary-black: #000000;

//grid
$grid-width:114rem;
$gutter-verical:8rem;
$gutter-horizontal: 6rem;